# Managed by Ansible (roles/wireguard). Read by wg-peer for new phones'
# configs - change the role's defaults, not this file.
WG_INTERFACE="{{ wireguard_interface }}"
WG_NETWORK="{{ wireguard_network }}"
WG_ENDPOINT="{{ wireguard_endpoint }}"
WG_CLIENT_ALLOWED_IPS="{{ wireguard_client_allowed_ips }}"
WG_CLIENT_DNS="{{ wireguard_client_dns }}"
